@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------- Layout ------------------------------  */
*,
html,
body {
  font-family: "Poppins", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #065934 transparent;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #065934;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
*:disabled {
  cursor: not-allowed;
}

@layer components {
  .custom-container {
    @apply container mx-auto px-4;
  }
  .btn-primary {
    @apply relative px-4 py-2 rounded-md shadow-lg text-white;
    background-image: linear-gradient(90deg, #04b430, #009b46 51%, #04b430);
    background-size: 200% auto;
    box-shadow: none;
    transition: all 0.4s ease;
  }
  .btn-primary:hover {
    background-position: 100%;
  }
  .btn-secondary {
    @apply relative px-4 py-2 rounded-md shadow text-white;
    background-image: linear-gradient(
      to right,
      #a73737 0%,
      #7a2828 51%,
      #a73737 100%
    );
    background-size: 200% auto;
    box-shadow: none;
    transition: all 0.4s ease;
  }
  .btn-secondary:hover {
    background-position: 100%;
  }
}
