@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------- Layout ------------------------------  */

* {
  scrollbar-width: thin;
  scrollbar-color: #065934 transparent;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #065934;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
*:disabled {
  cursor: not-allowed;
}
